form {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 10px;
}

form input {
    height: 30px;
}

form button {
    background-color: #000;
    color: #fff;
    height: 42px;
}

button:disabled {
    background-color: gray;
}